.planet-container {
    width: 26.8%;
    height: 58.6%;
    background-image: url("../../../utills/assets/planet-uranus.svg");
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .planet-container-internal {
    width: 26.8%;
    height: 58.6%;
    background-image: url("../../../utills/assets/planet-uranus-internal.svg");
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .planet-container-geology {
    width: 326.5px;
    height: 400px;
    background-image: url("../../../utills/assets/geology-mercury.png");
    position: absolute;
    top: 45%;
    left: 20%;
  }