.planet-container {
    width: 450PX;
    height: 450PX;
    background-image: url("../../../utills/assets/planet-earth.svg");
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .planet-container-internal {
    width: 450PX;
    height: 450PX;
    background-image: url("../../../utills/assets/planet-earth-internal.svg");
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .planet-container-geology {
    width: 326.5px;
    height: 400px;
    background-image: url("../../../utills/assets/geology-earth.png");
    position: absolute;
    top: 45%;
    left: 20%;
  }